<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Angular.js Query Builder</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body style="background-color: #222f3e;">
    <div class="container" ng-controller="QueryBuilderCtrl">
      <div class="container-header">
        <h1>Build your query</h1>

        <div class="alert">
          <strong class="output"
            >Query: " <span ng-bind-html="output"></span> "</strong
          ><br />
        </div>
      </div>

      <query-builder class="builder" group="filter.group"></query-builder>
    </div>

    <script type="text/ng-template" id="/queryBuilderDirective.html">
      <div id="main-body" class="alert alert-warning alert-group">
          <div class="form-inline">
              <select class="operator" ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>



          </div>
          <div class="group-conditions">
              <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
                  <div ng-switch="rule.hasOwnProperty('group')">
                      <div ng-switch-when="true">
                          <query-builder group="rule.group"></query-builder>
                      </div>
                      <div ng-switch-default="ng-switch-default">
                          <div class="form-inline" id="select-field-items">

                              <div class="field-section">
                                
                                  <p>Field</p>
                                  <select ng-options="t.name as t.name for t in fields" ng-model="rule.field" class="form-control input-sm"></select>

                              </div>


                              <div class="condition-section" style="margin-left: 5px">

                                <p>Condition</p>
                              <select  ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
                              </div>


                              <div class="criteria-section" style="margin-left: 5px">

                                <p>Criteria</p>
                              <select   ng-options="t.name as t.name for t in criterias" ng-model="rule.criteria" class="form-control input-sm"></select>
                              </div>

                              <!-- <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/> -->

                              <button style="margin-left: 10px; margin-top: 40px;" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <button style="margin-left: 5px; margin-top:20px; padding:10px;" ng-click="addCondition()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> + Add filter</button>


              <button style="margin-left: 5px; margin-top:20px; padding:10px;" ng-click="addGroup()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>+ Add new group filter</button>

              <button style="margin-left: 5px; margin-top:20px; padding:10px;" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button>


              
      </div>


      
    </script>

    <div class="control-button-section">
        
            <button style="background-color: grey; color: white;" class="btn btn-lg btn-secondary">Back</button>
            <button class="btn btn-lg btn-primary">Finish</button>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-sanitize.min.js"></script>
    <script src="angular-query-builder.js"></script>
  </body>
</html>
